/* regole header */

#header_top{
    background-color: black;
    height: 36px;
    display: flex;
    justify-content: end;
}

#sony_logo{
    height: 100%;
    width: 90px;
    padding: 0.3rem 0.5rem
}

/* header_bot */

#header_bot{
    height: 64px;
}

#header_bot a{
    text-decoration: none;
    color: black;
}

.list_container{
    display: inline-block;
}

#header_bot ul{
    list-style: none;
    display: flex;
}

header .ms_menu_img img{
    width: 50px;
}

header .ms_menu_img p{
    font-size: 0.9rem;
    font-weight: 00;
}

#header_bot .ms_chevron{
    width: 10px;
}

#header_bot .ms_btn_header{
    background-color: #363636;
}
/* jumbotron */
.jumbo{
    margin-top: 100px;
    color: #fff;
}

.jumbo .j_img{
    background-image:url("../img/jumbo-bg.png");
}

.jumbo .ms_thumbnail{
    outline: #fff solid 2px;
    outline-offset: 4px;
    transition: 0.3s;
    position:relative;
}

.jumbo .ms_thumb_cont:hover>.ms_thumbnail{
    outline-color: #0070D1;
    bottom: 20px;
    z-index: -1;
}

/* ps5 */

#ps5 .ms_accessories .ms_thumbnail{
    border-bottom: solid 2px #fff;
}

#ps5 .ms_accessories .ms_thumb_cont:hover>.ms_thumbnail{
    border-bottom: solid 2px #0070D1;

}

.ms_opacity{
    background-color: rgba(255, 255, 255, 0.5);
}

#ps5 .ms_accessories .ms_thumb_cont:hover>.ms_thumbnail>.ms_opacity{
    background-color: rgba(255, 255, 255, 0);
}

/* it takes two */

#it_takes_two.it2_img{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* nuove uscite */

#nuove_uscite{
    background-color: #1f1f1f;
    color: #fff;
}

/* playstation plus */

#play_station_plus{
    background-color: #bcbebb;
}

#play_station_plus .ms_btn_grey{
    border-color: #D9DADC;
    background-color: #D9DADC;
    color: #0070D1;
    font-weight: bold;
}

/* sconti play store */


/* playstation now */
#play_station_now{
    background-color: #161c3b;
}

/* footer */

footer{
    background-color: #00439c;
}

footer ul a{
    text-decoration: none;
}

footer .ms_globe{
    width: 20px;
}

footer .ms_ps_logo{
    width: 96px;
}

footer .ms_sie{
    width: 130px;
}
/* regole generali */
.ms_thumbnail{
    z-index: -1;
}

.ms_title h6{
    color: #0070D1;
}

.ms_title h4{
    color: #727272;
    font-size: 18px;
}

.ms_title h2{
    font-size: 45px;
}
.ms_btn_blue{
    background-color: #0070D1;
}

.ms_btn_red{
    background-color: #ED1C24;
    margin: 24px 0px;
} 

.ms_game_banner{
    background-size: auto 100%;
    background-position: center;
}

/* regole di debug */

.dbg_button{
    height: 30px;
    width: 100px;
    background-color: yellow;
}