/* regole header */

#header_top{
    background-color: black;
    height: 36px;
    display: flex;
    justify-content: end;
}

#sony_logo{
    height: 100%;
    width: 90px;
    padding: 0.3rem 0.5rem
}

/* header_bot */

#header_bot{
    height: 64px;
}

#header_bot a{
    text-decoration: none;
}

.list_container{
    display: inline-block;
}

#header_bot ul{
    list-style: none;
    display: flex;
}

/* jumbotron */

.jumbo .j_img{
    background-image:url("../img/jumbo-bg.png");
}

/* it takes two */

#it_takes_two .it2_img{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* nuove uscite */

#nuove_uscite{
    background-color: #1f1f1f;
    color: #fff;
}

/* playstation plus */

#play_station_plus{
    background-color: #bcbebb;
}

/* sconti play store */


/* playstation now */
#play_station_now{
    background-color: #161c3b;
}

/* footer */

footer{
    background-color: #00439c;
}

footer ul a{
    text-decoration: none;
}

footer .ms_globe{
    width: 20px;
}

footer .ms_ps_logo{
    width: 96px;
}

footer .ms_sie{
    width: 130px;
}
/* regole generali */

.ms_game_banner{
    height: 594px;
    background-size: auto 100%;
    background-position: center;
}

.banner{
    overflow: hidden;
}

/* regole di debug */

.dbg_button{
    height: 30px;
    width: 100px;
    background-color: yellow;
}